body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f9f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

.sub-section {
  max-width: 1000px;
  margin: 0 auto 40px auto;
  padding: 0 40px;
}

.sub-section h2 {
  font-size: 32px;
  color: #003567;
  border-left: 6px solid #3f72af;
  padding-left: 14px;
  margin-bottom: 20px;
}

.research-list ul {
  list-style: disc;
  padding-left: 30px;
  font-size: 18px;
  line-height: 2.2;
}

.research-list li {
  margin-bottom: 10px;
}
